.card {
    width: 25rem;
    padding-left: 2vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 5vh;
    background-color: rgb(100, 50, 100);
    color: lavender;
    border-radius: 20px;
}

